* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
    font-family: "perfect dos vga";
    src: url("perfect-dos-vga.woff") format('woff');
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'perfect dos vga';
	background: black;
	font-weight: 700;
}

.menu {
	background: blue;
	width: 1312px;
	height: 32px;
	max-width: 100%;
	display: flex;
	justify-content: space-between;	
	font-size: 1.8rem;
	color: white;
}

.name {
	background: red;
	height: 100%;
	color: yellow;
	padding: 0 1rem;
}

.scoreboard {
	display: flex;
	justify-content: flex-end
}

.food-white, .turbo-food-white {
	height: 32px;
	width: 32px;
} 

.equals {
	padding: 0 1rem;
}

#foodPoints, #turboFoodPoints {
	background: red;
	color: yellow;
	margin-right: 1rem;
	text-align: right;
}

#foodPoints {
	width: 2rem;
}

#turboFoodPoints {
	width: 3rem;
}

.divider {
	width: 3px;
	height: 32px;
	background: white;
	margin: 0 2rem 0 1rem;
}

#score {
	background: red;
	color: yellow;
	min-width: 100px;
	text-align: right;
	margin-left: 1rem;
}

.canvas {
	background: black;
	max-width: 100%;	
	border: 32px solid blue;
}
