* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
    font-family: "perfect dos vga";
    src: url("perfect-dos-vga.woff") format('woff');
}

/* Body and game canvas */

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'perfect dos vga', monospace;
	background: black;
	font-weight: 700;
	user-select: none;
	cursor: default;
	overflow: hidden;
}

.container {
	position: relative;
}

.canvas {
	background: black;
	max-width: 100%;	
	max-height: 90vh;
	border: 32px solid #0000aa;
}

/* Header */

.header {
	height: 32px;
	width: 100%;
	background: #0000aa;
	display: flex;
	justify-content: space-between;
	font-size: 1.8rem;	
}

.header__left {
	display: flex;
}

.title {
	padding: 0 1rem;	
	margin-right: 1rem;
}

.toggle-sound {
	display: flex;
	align-items: center;
	cursor: pointer;
	z-index: 1;
}

.toggle-sound img {
	height: 80%;
}

.toggle-sound--on .toggle-sound__off {
	display: none;
}

.toggle-sound--off .toggle-sound__on {
	display: none;
}

.yellow-text {
	background: #aa0000;
	color: #ffff55;
}

.white-text {
	color: white;
}

.bronze-img, .silver-img {
	height: 32px;
	width: 32px;
}

.equals {
	margin: 0 1rem;
}

.value {
	display: inline-block;
	text-align: right;
}

.legend {
	display: flex;
}

.legend__bronze-value, .legend__silver-value {
	display: inline-flex;
	justify-content: space-between;
	margin-left: 2rem;
}

.legend__score-container {
	display: flex;
	margin-left: 2rem;
}

.legend__bronze-value .value {
	min-width: 2rem;
}

.legend__silver-value .value {
	min-width: 3rem;
}

.legend__score {
	display: inline-block;
	min-width: 100px;
	text-align: right;
	margin-left: 1rem;
}

/* Loading screen */

.loading-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	transition: background .3s ease .3s;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.loading-screen h1 {
	color: #ffff55;
	font-size: 20vw;
}

.loading-screen.hidden {
	background: transparent;
}

/* Highscore submit */

.highscore-submit {
	display: none;
	position: absolute;	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
	padding: 4px;
	background: lightgray;
	z-index: 1;
}

.highscore-submit__form {
	background: #aaaaaa;
	font-size: 1.8rem;
	padding: 0.5rem 0.5rem;
	border: 8px double black;
}

.highscore-submit__input {
	font-size: 1.8rem;
	font-family: "perfect dos vga";
	width: 11rem;
	background: #00aa00;
	outline: none;
	border: none;
	cursor: default;
	caret-color: #00aa00;
}

/* Highscore screens */

.highscores, .local-highscores, .global-highscores {
	display: none;
	position: relative;	
}

.highscore-header, .topscore-holder {
	display: flex;
	justify-content: center;
	width: 100%;
}

.highscore-label {
	color: white;
	background: #aa0000;
	padding: 0 1rem;
}

.body {
	margin: 2rem 0;
	display: flex;
	justify-content: space-around;
}

.highscores {
	background: #00aaaa;
	position: absolute;
	color: #0000aa;
	padding: 0 32px;
	font-size: 1.8rem;
}

.highscores-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.highscore {
	display: inline-flex;
	justify-content: space-between;
	width: 340px;
	margin-top: 6px;
}

.topscore-container {
	text-align: center;
}

.topscore {
	color: #aa0000;
}

.body > div:not(:last-of-type) {
	border-right: 4px solid #0000aa;
	padding-right: 1.5rem;		
	margin-right: 1.5rem;
}

.column {
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 340px;
}

.footer-line {
	width: 100%;
	text-align: center;
}

.place {
	padding-right: 1rem;
}

.credits {
	font-family: Courier;
	color: rgba(255,255,255,0.3);
	text-align: center;
}

@media (max-width: 1300px) {
	.highscores, .header {
		font-size: 1.9vw;
	}

	.title {
		padding: 0 1vw;	
		margin-right: 1vw;
	}

	.legend__score {
		min-width: 8vw;
	}

	.bronze-img, .silver-img {
		width: 2.4vw;
		height: 2.4vw;
	}

	.legend__bronze-value, .legend__silver-value, .legend__score-container {
		margin-left: 2vw;
	}

	.legend__bronze-value .value {
	min-width: 3vw;
	}

	.legend__silver-value .value {
		min-width: 4vw;
	}

	.equals {
		margin: 0 1vw;
	}

	.highscores {
		padding: 0 2vw;
	}

	.body {
		margin: 2vw 0;
	}

	.body > div:not(:last-of-type) {
		padding-right: 1.5vw;		
		margin-right: 1.5vw;
	}

	.column {
		width: 22.5vw;
	}

	.highscore {
		width: 25vw;
		margin-top: .5vw;
	}

	.place {
		padding-right: 1vw;
	}

	.header {
		height: 2.4vw;
	}

	.canvas {
		border: 2.4vw solid #0000aa;
	}
}